{% extends "base.html" %}
{% block content %}
<form action="{{url_for('confirm')}}" method="POST" novalidate>
   
    <fieldset>
        <legend>confirm</legend>
        <table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>BALANCE</th>
       
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{f2.cid}}</td>
        
        <td>{{customer.name}}</td>
        <td>{{customer.balance}}</td>
      
    </tr>
    {% endfor %}
</table>   
        
        <p>
        {{f2.submit()}}
        </p>
    </fieldset>
    <p><a href="{{url_for('menu')}}">Back</a></p>
     
</form>
{% endblock %}
