
<!DOCTYPE html>
<html>
<head>
	<title></title>
	        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	        <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
	         <link rel='stylesheet' href='/static/css/login.css'>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fcecdf;">
  <a class="navbar-brand" href="{{url_for('index')}}">MD BANK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

    <a class="btn btn-primary btn-lg btn-block" href="{{url_for('create')}}">Create new account holder</a>
    <a class="btn btn-primary btn-lg btn-block" href="{{url_for('deposit')}}">Deposit</a>
    <a class="btn btn-primary btn-lg btn-block" href="{{url_for('withdraw')}}">Withdraw</a>
    <a class="btn btn-primary btn-lg btn-block" href="{{url_for('balance')}}">Balance</a>
    <a class="btn btn-primary btn-lg btn-block" href="{{url_for('delete')}}">Close</a><
</body>
</html>

