{%extends "base.html" %}
{%block content%}
<form action="{{url_for('register')}}" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Register</legend>
        <p>
        {{form.username.label}}{{form.username(size=32,autofocus=True)}}
        {% for error in form.username.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>
        <p>
        {{form.password.label}}{{form.password(size=32)}}
        {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>
        <p>
        {{form.password2.label}}{{form.password2(size=32)}}
        {% for error in form.password2.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        </p>
        <p>
        {{form.submit()}}
        </p>
    </fieldset>
</form>
{%endblock%}
