{%extends "base.html" %}
{%block content%}
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
        <legend>WITHDRAW</legend>
        <p>{{form.id.label}}{{form.id(size=32,autofocus=True)}}
        {% for error in form.id.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}</p>
        <p>{{form.amt.label}}{{form.amt(size=32,autofocus=True)}}
        {% for error in form.amt.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}</p>
        
        <p>
        {{form.submit()}}
        </p>
    </fieldset>
    <p><a href="{{url_for('menu')}}">Back</a></p>
     
</form>
{%endblock%}
